apiVersion: v1
data:
  loggie.yaml: |-
    loggie:
      reload:
        enable: true

      discovery:
        enable: true
kind: ConfigMap
metadata:
  labels:
    app: {{ .Name }}
  name: {{ .Name }}-config
  namespace: {{ .Namespace }}
  ownerReferences:
  - apiVersion: operator.loggie.io/v1beta1
    blockOwnerDeletion: true
    controller: true
    kind: LogCluster
    name: {{ .Name }}
    uid: {{ .UID }}
